<!DOCTYPE html>
<html class="has-background-primary">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bounce Anomaly Detection</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Bounce
        </h1>
        <p class="subtitle">
            Database <strong class = "has-text-white">Anomaly</strong> detection
        </p>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title">States</h2>
                        <h1 class="title has-text-centered" style="font-size:100px;">{{ state_count }}</h1>
                        <p class = "has-text-centered">Courts with unknown State</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title">Country</h2>
                        <h1 class="title has-text-centered" style="font-size:100px;">{{ country_count }}</h1>
                        <p class = "has-text-centered">Courts with unknown Country</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title">Road</h2>
                        <h1 class="title has-text-centered" style="font-size:100px;">{{ road_count }}</h1>
                        <p class = "has-text-centered">Courts with unknown Road</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title">Basketball</h2>
                        <h1 class="title has-text-centered" style="font-size:100px;">{{ total_basketball }}</h1>
                        <p class = "has-text-centered">Total Amount of Courts</p>
                    </div>
                </div>
            </div>
             <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title">Soccer</h2>
                        <h1 class="title has-text-centered" style="font-size:100px;">{{ total_soccer }}</h1>
                        <p class = "has-text-centered">Total Amount of Courts</p>
                    </div>
                </div>
            </div>
             <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title">Tennis</h2>
                        <h1 class="title has-text-centered" style="font-size:100px;">{{ total_tennis }}</h1>
                        <p class = "has-text-centered">Total Amount of Courts</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title">Total Users</h2>
                        <h1 class="title has-text-centered" style="font-size:100px;">{{ users_count }}</h1>
                        <p class = "has-text-centered">Total Amount of Users</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>